<h1>followings</h1>
<div class="row">
<% @following_users.each do |user| %>
  <div class="col-md-4">
      <div class="media">
          <div class="media-left media-middle">
              <%= link_to gravatar_for(user), user_path(user) %>
          </div>
          <div class="media-body">
            <p class="media-heading"><%= link_to user.name, user_path(user) %></p>
            <p><%= user.profile %></p>
          </div>
     </div>
  </div>
<% end %>
</div>